# Q7 - Deployment for PodDisruptionBudget exercise
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: critical-app
  namespace: jungle
  labels:
    app: critical-app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: critical-app
  template:
    metadata:
      labels:
        app: critical-app
    spec:
      containers:
      - name: app
        image: nginx:1.21
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"
